{% extends 'sticky-footer-navbar.html' %}
{% block content %}
<header class="bg-info text-white">
  <div class="container text-left">
    <h1>Lon In</h1>
  </div>
</header>

<div class="container">
	<form action="/accounts/login/" method="POST" class="needs-validation" novalidate>
			{% csrf_token %}
		  <div class="form-row">
		  	<!-- <div class="col-sm-8">  -->
		    <div class="form-group col-6 col-sm-3">
		    	<label for="old_password">Old Password</label>
		    	<input type="text" class="form-control" name="old_password" required autofocus>
	        <div class="invalid-feedback">
	          {{ error.invalid_username}}
	        </div>
		    </div>
		  </div>
		  <div class="form-row">
		    <div class="form-group col-6 col-sm-3">
		    	<label for="new_password">New Password</label>
		      <input type="password" class="form-control" name="new_password" required>
	        <div class="invalid-feedback">
	          {{ error.wrong_password}}
	        </div>
		    </div>
        <div class="form-group col-6 col-sm-3">
		    	<label for="new_password_confirm">Enter Again</label>
		      <input type="password" class="form-control" name="new_password_confirm" required>
	        <div class="invalid-feedback">
	          {{ error.wrong_password}}
	        </div>
		    </div>
		    <!-- </div> -->
		  </div>
		  <div class="form-row">
		  	<button class="btn btn-primary mb-3" type="submit">Update</button>
		  </div>
	</form>
</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>	

{% endblock %}
